.carousel-container {
    display: flex;
    flex-direction: row; /* Aligns items and pagination side by side */
    align-items: stretch; /* Stretch items to fill the container height */
    justify-content: space-between; /* Space out the carousel and the pagination */
}

.facilities-carousel {
    flex-grow: 1; /* Allows the carousel to grow and fill available space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps cards centered */
    gap: 20px; /* Adjust based on your preference */
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center pagination buttons vertically */
    padding: 0 15px; /* Add some padding around the pagination controls */
    align-items: center;
}

